/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-sep-16, 14:58:00
    Author     : daca97002
*/

body {background-color: #9BC4E2;}
#text{color: #323232;}
#navText{color: white;}
.div {background-color:  #9BC4E2;}
#navbar {background-color: #323232;}
.jumbotron{background-color: #9BC4E2;}
.epåst:before {
            content: attr(data-website) "\0040" attr(data-user);
            unicode-bidi: bidi-override;
            direction: rtl;
        }