/* 
    Created on : 2016-sep-16, 14:58:00
    Author     : daca97002
*/

body {background-color: #9BC4E2;}
#text{color: #323232;}
#navText{color: white;}
#navbar {background-color: #323232;}
/*Ändrade storlek till 1.2em(Kanske 1.5 istället?)*/
#preTaggen{font-size: 1.2em}
.div {background-color:  #9BC4E2;}
.jumbotron{background-color: #9BC4E2;}
.epåst:before {
            content: attr(data-website) "\0040" attr(data-user);
            unicode-bidi: bidi-override;
            direction: rtl;
        }
        .telef:before {
            content: attr(data-telef);
            unicode-bidi: bidi-override;
            direction: rtl;
        }